@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Cinzel:wght@400..900&display=swap");

.cinzel {
  font-family: "Cinzel", serif;
}

.featured-bg {
  color: white;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("../src/assets/featured.jpg");
  background-position: center;
  background-size: cover;
}

